@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary-font: "Plus Jakarta Sans", sans-serif; 
  --primary-col: #2b6cf5;
  --secondary-col: #204289;
  --white-col: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
.padding{  
  padding-top: 60px;
  padding-bottom: 60px; 
}
.container {
  padding: 0 15px !important; 
} 
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
.custom-margin, 
.banner-custom-margin {     
  border-radius: 24px;
  margin: 0 24px;                                       
}

/* header starts */ 
.header .logo {
  width: 97%;
}
.header nav {
  padding: 15px 0;
}
.header .my-navbar {
  border: 1px solid #eae4e1;
  background-color: var(--white-col);
  border-radius: 38px;
  padding: 4px;
}
.header .nav-item {
  margin-right: 5px;
}
.header .nav-item .nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-col);
  line-height: 23px;
  border-radius: 38px;
  padding: 12px 35px;
}
.header .nav-item .nav-link:hover{
  color: var(--white-col);
  background-color: var(--primary-col); 
}
.header .nav-item .active,
.header .nav-item .nav-link:hover {         
  color: var(--white-col);
  background-color: var(--primary-col);
} 
.header .nav-contact span {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--secondary-col);
  line-height: 24px;
}
.header .nav-contact span:hover {
  color: var(--primary-col);
}
.navbar-toggler-icon {
  background-image: url(../images/bars.svg) !important;
}
.navbar-toggler:focus {
  box-shadow: inherit !important;
}
.navbar-toggler-icon {
  width: 23px;
  height: 23px;
}

@media (max-width: 991px) {
  .header .icon2 {
    width: 50%;
  }
  .header .my-navbar {
    border: 0;
    border-radius: 0;
    text-align: center;
  }
  .header .nav-item .nav-link {
    padding: 10px 32px;
  }
  .header .nav-item .active {
    color: var(--primary-col);
    background-color: transparent;
  }
  .header .nav-item .nav-link:hover {         
    color: var(--primary-col);    
    background-color: transparent; 
  }
}
@media (max-width: 767px) {
  .header .icon1 {
    width: 80%;
  }
  .banner-custom-margin {  
    margin: 0;
  } 
  .header .logo {
    width: 75%;
  }
  .toggle-btn {
    margin-left: -43px;
  }
}
/* header ends */

/* banner starts */ 
.banner {
  background-image: url(../images/bedoctor-section-bg1.webp);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 90px;  
}
h5 {
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary-col);
}
h2 {
  font-size: 6.5rem;
  line-height: 78px;
  font-weight: 700;
  color: var(--secondary-col);
}
h2 span {
  color: var(--primary-col);
}
.btn {
  background-color: var(--primary-col);
  border-radius: 38px;
  padding: 12px 30px;       
  font-size: 1.5rem;
  font-weight: 600;
  border: 0;
}
.btn:hover,
.btn:first-child:active {
  background-color: var(--secondary-col);
}
.s-btn {
  border: 1px solid #eaeaea !important;
  background-color: var(--white-col);
  color: var(--primary-col);
}
.s-btn:hover,
.s-btn:first-child:active {
  background-color: var(--white-col);
  color: var(--primary-col);
  border-color: var(--primary-col) !important;
}
@media (max-width: 991px) {
  h5 {
    font-size: 1.3rem;
    line-height: 19px;
  }
  h2 {
    font-size: 3.9rem;
    line-height: 47px;
  }
}
/* banner ends */

/* profile-sec starts */  
h4{
  font-size: 2.8rem;
  font-weight: 700;  
  line-height: 36px;   
  color: var(--secondary-col); 
}  
.span{
  font-size: 2rem;
    font-weight: 400;
    color: var(--secondary-col);
    line-height: 28px;
    position: relative;
    padding-left: 95px 
}
.span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  width: 70px;
  height: 2px;
  background-color: var(--primary-col);
}

@media (max-width: 767px){
  h4{
    font-size: 1.7rem;
    line-height: 22px;    
  }
  .span{
    font-size: 1.5rem;
    line-height: 22px; 
  }
  .profile-sec{ 
    margin: 0 24px; 
  }     
}
/* profile-sec ends */

/* our-services starts */
.our-services{
  background-image: url(../images/bedoctor-section-bg2.webp); 
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
h3{
  font-size: 5rem;
  line-height: 58px;
  font-weight: 700;  
  color: var(--secondary-col);  
}
p{ 
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 400;     
  color: var(--secondary-col);  
}
.para{
  width: 40%; 
}
.our-services .card{ 
  border-radius: 24px; 
}         

@media (max-width: 991px){
  h3{
    font-size: 3rem;
    line-height: 35px; 
  }
  p{ 
    font-size: 1.3rem;
    line-height: 19px;
  }
  .para {
    width: 82%;
} 
}
/* our-services ends */

/* experience-sec starts */
.experience-sec{
  background-image: url(../images/bedoctor-section-bg3.webp); 
  background-attachment: fixed; 
  background-size: cover;
  background-position: top center; 
  background-repeat: no-repeat;               
}
h6{
  font-size: 2rem;
  line-height: 28px;
  font-weight: 500;       
  color: var(--secondary-col);  
}
.experience-sec .custom-padding{
  padding-top: 150px; 
}

@media (max-width: 767px){ 
  h6{
    font-size: 1.3rem;
    line-height: 19px;  
  }
  .experience-sec .custom-padding{
    padding-top: 70px;  
  }
}
/* experience-sec ends */

/* book appointment starts */
.box-img{                        
  background-image: url(../images/bedoctor-about-pic3.webp); 
  background-size: cover;
  background-position: top center; 
  background-repeat: no-repeat;   
  height: 588px;  
  border-radius: 24px;
} 
.box-content{       
  background-image: url(../images/bedoctor-wrap-bg1.webp); 
  background-size: cover;
  background-position: top center; 
  background-repeat: no-repeat;  
  border-radius: 24px;
}
.pin-icon{
  width: 100px;
  height: 100px;
  background: var(--white-col); 
  border-radius: 50%; 
}
.pin-icon img{ 
  transform: translateY(50%);  
}
.custom-h3{
  font-size: 3.8rem;
  line-height: 46px;     
  font-weight: 700;            
}

@media (max-width:991px){
  .custom-h3{
    width: 85% !important;
  }
}
@media (max-width: 767px){ 
  .box-img{                                 
    height: 350px;     
  }
  .custom-h3{
    font-size: 2.3rem;
    line-height: 28px;   
  }
  .book-appointment.padding  { 
    padding: 43px 0;    
  }
  .book-appointment .padding{
    padding: 30px 0;   
  }
 .box-img,   
  .box-content{ 
    margin: 0 17px;   
  }  
}                                  
/* book appointment ends */ 

/* pricing-sec starts */
.pricing-sec{
  background-color: #F2F6FA;      
}
.pricing-box{
  border-radius: 24px;  
  padding-left: 15%;
  padding-right: 15%;   
}
.pricing-box-third{
  background-color: var(--primary-col); 
}
.pricing-box h5{
  color: var(--secondary-col);  
}
.pricing-box .borderP{  
  border-top: 1px solid rgba(0,0,0,0.1);      
  border-bottom: 1px solid rgba(0,0,0,0.1); 
}
.price{
  position: relative;
  width: 100px; 
} 
sup{
  font-weight: 400;     
  color: var(--secondary-col);
  position: absolute; 
  top: 13px;    
}
.currency{         
  font-size: 2rem;
  left: 11px;  
}
.period{   
  font-size: 1.5rem;  
  right: 0px; 
}          
.price-btn:hover{
  border-color: var(--white-col) !important; 
  background: transparent; 
  color: white; 
}

@media (max-width: 767px){
  .price{
    position: relative;
    width: 93px !important;     
  } 
  sup{
    top: 9px;       
  }
  .currency{         
    font-size: 1.4rem;
  }
  .period{   
    font-size: 1.3rem;   
  }
  .pricing-box h3{
    font-size: 3.8rem;   
  }
  .pricing-box h5{
    font-size: 1.4rem; 
  }
}
/* pricing-sec ends */

/* rating sec starts  */
.rating-img{
  position: relative;   
}
.rating-icon{                    
  position: absolute;
  bottom: 110px;       
  right: -40px;          
  background-color: var(--white-col);    
  border-radius: 24px;
  padding: 24px;              
}                       
.icon-star{
  width: 70px;
  height: 70px;   
  background-color: #FFE8DA;  
  border-radius: 50%;    
}
.icon-star i{
  color: var(--white-col);
  font-size: 3rem;   
}
.rating-text h4{
  color: var(--primary-col);  
}

@media (max-width: 991px){
  .rating-icon{                    
    bottom: 0;       
    right: -20px;          
  }   
}
@media (max-width: 767px){
  .rating-icon{                    
    bottom: 0;       
    right: 0;   
    width: 100%;     
    padding: 12px;       
  } 
 .rating{
    margin: 0 24px;       
  }  
} 
/* rating sec ends  */   

/* don't-wait-sec starts */
.dont-wait-sec {
  background-image: url(../images/bedoctor-wrap-bg2.webp);   
  background-attachment: fixed; 
  background-size: cover;
  background-position: top center; 
  background-repeat: no-repeat; 
  height: 65vh;          
}

@media (max-width: 767px){
  .dont-wait-sec {
    height: auto;               
  }
  .break{
    display: none; 
  }
}
/* don't-wait-sec ends */ 

/* footer starts */
.social i{
  width: 48px;
  height: 48px;
  border-radius: 50%;   
  font-size: 1.6rem;
  color: var(--secondary-col);  
  background-color: #F2F6FA;     
  display: flex; 
  justify-content: center;
  align-items: center;       
} 
.link a{ 
  display: inline-block; 
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 500;  
  color: var(--secondary-col);
  padding-bottom: 8px;    
}
.social i:hover, .link a:hover {     
  color: var(--primary-col);   
}
footer h3{ 
  color: var(--primary-font) !important;  
}
.copyright {   
  border-top: 1px solid #F2F6FA;      
}
.copyright p span{
  color: var(--primary-col);  
}

@media (max-width: 767px) {
  footer h6{
    font-size: 1.6rem; 
    width: 80%; 
    margin: 0 auto; 
  }
  .social i{
    width: 40px;
    height: 40px;
    font-size: 1.4rem;  
  }
  .link a{
    font-size: 1.4rem; 
  }     
}
/* footer ends */      

/*--------------------------------------- services page css ----------------------------------------*/

/* main starts */
main{ 
  background-color: #F2F6FA;  
}
main .service-banner-padding{
  padding-top: 200px;
  padding-bottom: 200px;  
}
.new-btn{
  padding: 12px 35px;          
}
.sec-text i{
  background-color: #EEF3FF;   
  color: var(--primary-col);         
  width: 36px;
  height: 36px; 
  font-size: 1.5rem;                
  border-radius: 50%;   
  display: flex;
  align-items: center;
  justify-content: center;  
}
.book-visit{
  border-top: 1px solid #EAEAEA;    
  padding-top: 45px;   
}
.book-visit .phone{
  font-size: 16px;
  font-weight: 400;               
}
.services-contant{
  background-image: inherit !important;
  background-color: var(--white-col);   
}
.services-img{
  background-image: url(../images/bedoctor-services-pic1.webp);        
}
.services-img-second{
  background-image: url(../images/bedoctor-services-pic2.webp);   
}
.services-img-third{
  background-image: url(../images/bedoctor-services-pic3.webp);   
}
.services-img-fourth{ 
  background-image: url(../images/bedoctor-services-pic4.webp);    
}
.services-img-fifth{  
  background-image: url(../images/bedoctor-services-pic5.webp);    
}
.services-img-sixth{  
  background-image: url(../images/bedoctor-services-pic6.webp);    
}

@media (max-width: 991px){              
  main .service-banner-padding {
    padding-top: 110px;
    padding-bottom: 85px;
}   
.Services-p {
  width: 75% !important; 
} 
.services-img{  
 height: 440px;          
}
}
@media (max-width: 767px){   
  main .service-banner-padding {    
    padding-top: 95px;
    padding-bottom: 65px;   
}   
.Services-p {
  width: 100% !important;
}
.services-img{  
  height: 220px;            
}    
.book-visit{           
  padding-top: 30px;   
}     
.box-content-size{
  width: 82% !important; 
}                              
.box-content.padding {
  padding-top: 30px;
  padding-bottom: 30px;  
}
} 
/* main ends */ 

